<!DOCTYPE html>
<html>
    <head>

        <h>nothing</h>
        <script>
           
             var barcode='';
             var interval;
             document.addEventListener('keydown',function(evt){
               console.log("listening")
               if(interval){clearInterval(interval)}
               if(evt.code=='Enter')
               {
                 if(barcode)
                 {
                   handleBarcode(barcode)
       
                   barcode='';
                   return;
                 }
               }
               if(evt.key!='Shift')
               {
                 barcode+=evt.key;
                 interval=setInterval(()=>barcode='',200);
               }
             });
             function handleBarcode(scanned_barcode)
             {
               document.querySelector('#root').innerHTML=scanned_barcode;
               
             }
             </script>
       
    </head>
    
<body>
<p>scan</p>
 <div id="root" ></div>

</body>
</html>
